absl-py==1.4.0
cachetools==4.2.4
certifi==2024.2.2
charset-normalizer==2.0.12
dataclasses==0.8
google-auth==2.22.0
google-auth-oauthlib==0.4.6
grpcio==1.48.2
idna==3.6
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.1
logger==1.4
Markdown==3.3.7
numpy==1.19.5
oauthlib==3.2.2
pandas==1.1.5
protobuf==3.19.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
torch==1.10.2
torch-utils==0.1.2
tqdm==4.64.1
typing_extensions==4.1.1
urllib3==1.26.18
Werkzeug==2.0.3
zipp==3.6.0
